BraveSoftware**
Code**
Microsoft**
Postman**
autostart**
dconf**
discord**
dolphinrc**
google-chrome**
kwalletrc**
mimeapps.list**
pulse**
qBittorrent**
systemd**
tmc-vscode_plugin**
fontconfig**
QtProject.conf
go**
kde.org**
session**
vlc**
user**
**/wallpapers/**
